<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>День 4 (полегче)</title>
        <link rel="stylesheet" href="style.css" >
    </head>
    <body>
        <div id="app">
            <form>
       <input type="text" v-model.trim="nsurnname"> Прізвище<br>
       <input type="text" v-model.trim="nname"> Ім'я<br>
       <input type="text" v-model.trim="ngroup"> Група<br>
       <input type="text" v-model.trim="nriknarod"> Дата народження<br>
       <input type="checkbox" v-model="nzdav"> Здав<br>
       <input type="submit" v-on:click="add()">
   </form>
   <br>


   <input type="text" v-model="piece">
   <table v-for="Student in students">
                
       <tr v-bind:class="Student.surname.includes(piece)?'':'red'">
       <td>{{Student.surname}}</td> <td>{{Student.name}}</td> <td>{{Student.group}}</td> <td>{{Student.riknarod}} </td><td>{{Student.id}} </td>
           <td><div v-if="Student.zdav==true"><input type="checkbox" disabled checked="Student.zdav"></div>
           <div v-else><input type="checkbox" disabled ></div> </td>
           <td><a href="#" v-on:click="del(Student.id)">Delete</a></td>
   </tr> 
   <br>
    </table>    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
</body>
</html>